
.container{
    h1{
        color: #fff;
        margin: 10px 10px 20px;
    }
    text-align: center;
    margin-top: 100px;
    label{
        color: #fff;
        margin: 10px 5px;
    }
}
.input_space{
    margin-bottom: 10px;
}
input{
    height: 30px;
    margin: 10px;
    width: 20%;
    font-size: 18px;
}
button{
    height: 30px;
    width: 15%;
    background-color:#6d6c6c;
    border: none;
    transition: background .3s ease-in;
    &:hover {
        cursor: pointer;
        color: #fff;
        background-color: #3f9bc6;
      }
}

.Homelog-sec{
    margin: 10px;
    .credencial-log{
        // border: 5px solid #6d6c6c;
        display: flex;
        justify-content: center;
        align-items: center;
        
        // flex-direction: column;
        .btn-log{margin: 10px;
            margin-left: 60px;
            button{
                margin: 5px;
            }
        }
    }
    p{
        color: #fff;
        margin: 10px;
    }
    span{
        font-size: 1.2rem;
        color: #3f9bc6;
    }
    .logout{
        margin-right: 5px;
        color: #fff;
        font-weight: 400;
        border-radius: 5px;
        width: 60px;
        &:hover{
            background-color: #d2bf0e;
        }
    }
    .delete{
        margin-right: 5px;
        color: #fff;
        background-color: #d20e0e;
        font-weight: 400;
        border-radius: 5px;
        width: 60px;
        &:hover{
            background-color: #670c0c;
        }
    }
}